<ion-title text-center>Historique</ion-title>

<ion-content>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let item of items">
      <ion-card class="card">
        <ion-item lines="none">
          <ion-icon [name]="item.categ.icon" slot="start"></ion-icon>
          <ion-card-title>{{ item.categ.nomCateg }}</ion-card-title>
        </ion-item>
        <ion-item lines="none"
          ><ion-label text-center>Amount : $ {{ item.amount }}</ion-label>
          <ion-label>Date : {{ item.date | date: "yyyy-MM-dd" }}</ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
