<ion-card>
  <ion-card-content>
    <!--  <ion-select #select1>
      <ion-select-option value="f">
        <ion-item
          ><ion-icon name="add"></ion-icon>Female</ion-item
        ></ion-select-option
      >
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>-->

    <ion-item lines="none">
      <ion-button (click)="addIncomeAlert()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-label text-center>$ {{ account.actualAmount }}</ion-label>
      <ion-button (click)="presentPopover()">
        <ion-icon name="remove"> </ion-icon
      ></ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Income :$ {{ account.income }}</ion-label>
      <ion-label>Expense :$ {{ account.expense }}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
