<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--<google-chart [data]="pieChartData"></google-chart>-->
        <app-doughnut></app-doughnut>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-jackpot-card></app-jackpot-card>
  <app-historique-liste></app-historique-liste>
</ion-content>
