.potdiv {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content {
  padding-bottom: 0;
  background-color: aqua;
}
